[submodule "deps/ctemplate"]
	path = deps/ctemplate
	url = https://github.com/worksmobile/ctemplate.git
	branch = master-works
[submodule "deps/libetpan"]
	path = deps/libetpan
	url = https://github.com/worksmobile/libetpan.git
	branch = master-works
[submodule "deps/tidy-html5"]
	path = deps/tidy-html5
	url = https://github.com/worksmobile/tidy-html5.git
	branch = master-works
